.dashboardBody{
    width: 100vw;
}

.side-panel{
    position: fixed;
    top: 20%;
        
}
.dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
