
.loader-container{
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    background-color: var(--main-bg-color);
    
}
.loader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25rem;
    height: 3rem;
    background-color: var(--primary-dark-color);
    border-radius: 0.7rem;
    overflow: hidden;
    position: relative;
    
  }
  
  .shape {
    width: 4rem;
    height: 2rem;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 2rem;
    position: absolute;
    animation: slide 1.9s linear infinite;
    background-size: 200%;
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
  
    50% {
      left: calc(100% - 50px);
    }
  
    100% {
      left: 0;
    }
  }
  
  @keyframes gradientChange {
    0%, 100% {
      background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    }
  
    50% {
      background-image: linear-gradient(144deg, #00DDEB, #5B42F3 50%, #AF40FF);
    }
  }