.Post {
    font-family: Montserrat,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji" !important;
    border-top: 1px solid var(--text-mid);
    border-bottom: 1px solid var(--text-mid);
    /* background: rgb(144,115,255);
    background: linear-gradient(90deg, rgba(144,115,255,0.09005609079569332) 35%, rgba(31,27,36,1) 100%);  */
    width: calc(100% - 5rem);
    word-wrap: break-word;
    padding: 1rem;
    margin-right: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

.PostBorder:hover{
    animation: Anim 0.5s ease both;
    filter: saturate(0.9);
}


.Post:hover{
    
    -webkit-box-shadow: 3px 21px 24px -14px var(--text-mid);
    -moz-box-shadow: 3px 21px 24px -14px var(--text-mid);
    box-shadow: 2px 7px 24px -5px var(--text-mid);
    border: 1px solid #8e8d90;
    background-color: #2b2a2e44;

}
.PostInfo{
    
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--button-purple2);
    
}
.PostContent{
    
    padding: 0.5rem;
    margin: 0.2rem;
    display: flex;
    flex-direction: row;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date{
    text-align: right;
    text-transform: capitalize;
    font-size: 0.8rem;
}
.title{
    flex-grow: 1;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;
}

.author{
    text-align: end;
}


@media screen and (max-width: 480px) {

    .responsiveGrid {
      grid-template-columns: unset;
      gap: unset;
    }
  
}

@keyframes Anim {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(-1rem);
    }
  }
  @keyframes Anim2 {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(1rem);
    }
  }
