.services {
    max-width: calc((100% - 5rem));
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 2rem;
  }
  
  .service {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 6px var(--primary-dark-color);
    margin: 1rem;
    padding-top: 1rem;
    background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--primary-dark-color));
    transition: 0.3s ease-in-out;
    
    
  }
  .service:hover{
    filter:brightness(.8);
   
  }
  
  @media (min-width: 769px) {

    .service:nth-child(odd) {
      text-align: center;
      margin-left: calc((100% - 25rem) / 2);
      background-image: linear-gradient(to bottom right, var(--main-bg-color), var(--primary-dark-color));
      padding-left: 1rem;
      animation: Anim 1s ease forwards;
      clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
  
     .service:nth-child(even) {
       text-align:center; 
       margin-right: calc((100% - 25rem) / 2);
       /* margin-right: calc((100% - 55rem) / 2); */
       background-image: linear-gradient(to bottom right, var(--primary-dark-color), var(--main-bg-color));
       padding-right: 1rem;
       animation: Anim2 1s ease forwards;
       clip-path: polygon(95% 0%, 0% 0%, 0% 100%, 100% 100%);
      }

      
  }

  @media screen and (max-width: 480px) {

  }

  @media screen and (max-width: 768px) {
    .services {
      grid-template-columns: 1fr;
    }
    .service{
      clip-path: fill-box;
    }

  }


  @media screen and (max-width: 1024px) {

  }

  @keyframes Anim {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(-1rem);
    }
  }
  @keyframes Anim2 {
    0% {
      transform: translateX(0);
    }
    
    100% {
      transform: translateX(1rem);
    }
  }

